.Bar{
    width: 550px;
    height: 95px;
    vertical-align: top;
    text-align: justify;
}

.Bar div{
    margin-left: 25px;
    display: inline-block;
    width: 25%;
    padding-top: 26px;
    list-style-type: none;
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    cursor: default;
}