.MoviesItem{
    width: 1260px;
    height: 1046px;
    margin:0 auto;
    background-color: rgb(247, 233, 207);
        display: grid; 
        grid-auto-columns: 4fr 1fr 1fr; 
        grid-template-columns: 16% 16% 16% 16% 16%; 
        grid-template-rows: 280px 280px 280px; 
        justify-content: center;
        gap: 50px 37px; 
        grid-template-areas: 
          ". . ."
          ". . ."
          ". . ."; 
}

.isNot {
  font-size:60px;
  width: 1260px;
  margin-top:100px;
  position: absolute;
  text-align: center;
}